<html>
    <title>Dashboard</title>
    <style>
        a {
            /* background-color: red; */
            box-shadow: 0 5px 0 black;
            color: white;
            padding: 1em 1.5em;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
        }

        a:hover {
            background-color: #ce0606;
        }

        a:active {
            box-shadow: none;
            top: 5px;
        }

        /* Non-Demo Styles */
        body {
            display: flex;
            justify-content: center;
            align-items: top;
            height: 100vh;
        }
        .cp-text{ 
            color: rgba(0,0,0,.7); 
            text-shadow: 0 1px rgba(255, 255, 255, 0.1);
        }
    </style>
    <center>
        <h1>Dashboard</h1><br><br>
        <body>
            <a href="/users" style="background-color: red;">Data Users</a>
            <a href="/users/biodata" style="background-color: green;">Biodata Users</a>
            <a href="/riwayat" style="background-color: blue;">History Game</a>
        </body>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <footer class="cp-text">
            © Copyright 2022 Qoharul Jabbar BEJS-2. All rights reserved.
        </footer>
    </center>
</html>