<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Ubah Data
    </title>
</head>

<body>
    <center>
        <form method="post" action="/prosesMainGame">
            <label for="nama_lengkap">Nama Lengkap:</label><br>
            <input type="text" id="nama_lengkap" name="nama_lengkap" value="<%= users_biodata.nama_lengkap %>" readonly ><br><br>
            <label for="ttl">Tanggal Lahir:</label><br>
            <input type="text" id="ttl" name="ttl" value="<%= users_biodata.ttl %>" readonly><br><br>
            <label for="agama">Agama:</label><br>
            <input type="text" id="agama" name="agama" value="<%= users_biodata.agama %>" readonly><br><br>
            <label for="alamat">Alamat:</label><br>
            <input type="text" id="alamat" name="alamat" value="<%= users_biodata.alamat %>" readonly><br><br>
            <label for="nomor_hp">No HP:</label><br>
            <input type="text" id="nomor_hp" name="nomor_hp" value="<%= users_biodata.nomor_hp %>" readonly><br><br>
            <label for="hobi">Hobi:</label><br>
            <input type="text" id="hobi" name="hobi" value="<%= users_biodata.hobi %>" readonly><br><br>
            <label for="id_usergames">ID User:</label><br>
            <input type="text" id="id_usergames" name="id_usergames" value="<%= users_biodata.id_usergames %>" readonly><br><br>
            <label for="waktu_mulai">Waktu Mulai:</label><br>
            <input type="time" id="waktu_mulai" name="waktu_mulai"><br><br>
            <label for="waktu_selesai">Waktu Selesai:</label><br>
            <input type="time" id="waktu_selesai" name="waktu_selesai"><br><br>
            <label for="skor">Skor:</label><br>
            <input type="text" id="skor" name="skor" ><br><br>
            <br><input type="submit" value="Main Game!">
        </form>
    </center>
</body>

</html>