<center>
    <h1> Data Riwayat </h1>
    <title>Data Riwayat</title>
    <div>
        <style>
            th,td {
                border: 1px solid black;
                vertical-align: top;

            }
            a:link, a:visited, button{
            background-color: #f44336;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            }
        </style>
        <a href="javascript:history.back()" style="background-color: grey">&#8249;</a>
        <a href="users/biodata" style="background-color: green;">Main Game</a><br/>
        <table>
            <tr>
                <th>ID User</th>
                <th>Username</th>
                <th>Waktu Mulai</th>
                <th>Waktu Selesai</th>
                <!-- <th>Lama Waktu Bermain</th> -->
                <th>Skor</th>
                <th>Aksi</th>
            </tr>
            <% history.forEach(riwayat => { %>
                <tr>
                    <td><%= riwayat.id_usergames %></td>
                    <td><%= riwayat.username %></td>
                    <td><%= riwayat.waktu_mulai %></td>
                    <td><%= riwayat.waktu_selesai %></td>
                    <!-- <td><%= riwayat.total_waktu_bermain %></td> -->
                    <td><%= riwayat.skor %></td>
                    <td>
                        <form method="POST" action="/riwayat/hapus/<%= riwayat.id %>?_method=DELETE">
                            <button>Delete</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </table>
    </div>
</center>