<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Tambah Data
    </title>
</head>

<body>
    <center>
        <form method="post" action="/users/prosesTambah">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" ><br><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" ><br><br>
            <a href="http://localhost:3000/auth/url">Login Google</a> <br><br>
            <input type="submit" value="submit">
        </form>
    </center>
</body>

</html>