<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Tambah Data
    </title>
</head>

<body>
    <center>
        <form method="post" action="/users/biodata/prosesTambahBiodata">
            <label for="id_usergames">ID User:</label><br>
            <input type="text" id="id_usergames" name="id_usergames" ><br><br>
            <label for="nama_lengkap">Nama Lengkap:</label><br>
            <input type="text" id="nama_lengkap" name="nama_lengkap" ><br><br>
            <label for="ttl">Tanggal Lahir:</label><br>
            <input type="date" id="ttl" name="ttl" ><br><br>
            <label for="agama">Agama:</label><br>
            <input type="text" id="agama" name="agama" ><br><br>
            <label for="alamat">Alamat:</label><br>
            <input type="text" id="alamat" name="alamat" ><br><br>
            <label for="nomor_hp">Nomor HP:</label><br>
            <input type="text" id="nomor_hp" name="nomor_hp" ><br><br>
            <label for="hobi">Hobi:</label><br>
            <input type="text" id="hobi" name="hobi" ><br><br>
            <input type="submit" value="submit">
        </form>
    </center>
</body>

</html>