<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Ubah Data
    </title>
</head>

<body>
    <center>
        <form method="post" action="/users/ubah/<%= user.id %>?_method=PUT">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" value="<%= user.username %>" ><br><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" value="<%= user.password %>"><br><br>
            <input type="submit" value="submit">
        </form>
    </center>
</body>

</html>