<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Ubah Data
    </title>
</head>

<body>
    <center>
        <form method="post" action="/users/biodata/ubah/<%= users_biodata.id %>?_method=PUT">
            <label for="nama_lengkap">Nama Lengkap:</label><br>
            <input type="text" id="nama_lengkap" name="nama_lengkap" value="<%= users_biodata.nama_lengkap %>" ><br><br>
            <label for="ttl">Tanggal Lahir:</label><br>
            <input type="text" id="ttl" name="ttl" value="<%= users_biodata.ttl %>"><br><br>
            <label for="agama">Agama:</label><br>
            <input type="text" id="agama" name="agama" value="<%= users_biodata.agama %>"><br><br>
            <label for="alamat">Alamat:</label><br>
            <input type="text" id="alamat" name="alamat" value="<%= users_biodata.alamat %>"><br><br>
            <label for="nomor_hp">No HP:</label><br>
            <input type="text" id="nomor_hp" name="nomor_hp" value="<%= users_biodata.nomor_hp %>"><br><br>
            <label for="hobi">Hobi:</label><br>
            <input type="text" id="hobi" name="hobi" value="<%= users_biodata.hobi %>"><br><br>
            <input type="submit" value="submit">
        </form>
    </center>
</body>

</html>