<center>
    <h1> Data Users </h1>
    <title>Data Users</title>
    <div>
        <style>
            th,td {
                border: 1px solid black;
                vertical-align: top;

            }
            a:link, a:visited, button{
            background-color: #f44336;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            }
        </style>
        <a href="javascript:history.back()" style="background-color: grey">&#8249;</a>
        <a href="users/tambah" style="background-color: green;">Tambah Data</a><br/>
        <table>
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Dibuat</th>
                <th>Diubah</th>
                <th colspan="2">Aksi</th>
            </tr>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.username %></td>
                    <td><%= user.password %></td>
                    <td><%= user.createdAt %></td>
                    <td><%= user.updatedAt %></td>
                    <td>
                        <a href="/users/ubah/<%= user.id %>" style="background-color: blue;">Ubah</a>
                    </td>
                    <td>
                        <!-- <a href="/users/hapus/<%= user.id %>?_method=DELETE">Hapus</a> -->
                        <form method="POST" action="/users/hapus/<%= user.id %>?_method=DELETE">
                            <button>Delete</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </table>
    </div>
</center>