<center>
    <h1> Biodata Users </h1>
    <title>Biodata Users</title>
    <div>
        <style>
            th,td {
                border: 1px solid black;
                vertical-align: top;

            }
            a:link, a:visited, button{
            background-color: #f44336;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            }
        </style>
        <a href="javascript:history.back()" style="background-color: grey">&#8249;</a>
        <a href="biodata/tambah" style="background-color: green;">Tambah Data</a><br/>
        <table>
            <tr>
                <th>ID User</th>
                <th>Nama Lengkap</th>
                <th>Tanggal Lahir</th>
                <th>Agama</th>
                <th>Alamat</th>
                <th>No HP</th>
                <th>Hobi</th>
                <th>Dibuat</th>
                <th>Diubah</th>
                <th colspan="3">Aksi</th>
            </tr>
            <% users_biodata.forEach(biodata => { %>
                <tr>
                    <td><%= biodata.id_usergames %></td>
                    <td><%= biodata.nama_lengkap %></td>
                    <td><%= biodata.ttl %></td>
                    <td><%= biodata.agama %></td>
                    <td><%= biodata.alamat %></td>
                    <td><%= biodata.nomor_hp %></td>
                    <td><%= biodata.hobi %></td>
                    <td><%= biodata.createdAt %></td>
                    <td><%= biodata.updatedAt %></td>
                    <td>
                        <a href="/users/biodata/ubah/<%= biodata.id %>" style="background-color: blue;">Ubah</a>
                    </td>
                    <td>
                        <!-- <a href="/users/hapus/<%= biodata.id %>?_method=DELETE">Hapus</a> -->
                        <form method="POST" action="/users/biodata/hapus/<%= biodata.id %>?_method=DELETE">
                            <button>Delete</button>
                        </form>
                    </td>
                    <td>
                        <a href="/mainGame/<%= biodata.id %>" style="background-color: orange;">Main</a>
                    </td>
                </tr>
            <% }) %>
        </table>
    </div>
</center>